PORT=8080
# В Docker (linguaserver compose): http://app:3000
# Локально: https://api.gidcam.online
LINGUASERVER_URL=http://app:3000
ADMIN_API_KEY=your_admin_secret_key_here
SITE_ADMIN_PASSWORD=choose_a_strong_password
